@font-face{
  font-family: "Raleway-f1";
  src: url('frames/Raleway-f1.ttf');
}

@font-face{
  font-family: "Raleway-f2";
  src: url('frames/Raleway-f2.ttf');
}

@font-face{
  font-family: "Raleway-f3";
  src: url('frames/Raleway-f3.ttf');
}

@font-face{
  font-family: "Raleway-f4";
  src: url('frames/Raleway-f4.ttf');
}

@font-face{
  font-family: "Raleway-f5";
  src: url('frames/Raleway-f5.ttf');
}

@font-face{
  font-family: "Raleway-f6";
  src: url('frames/Raleway-f6.ttf');
}

@font-face{
  font-family: "Raleway-f7";
  src: url('frames/Raleway-f7.ttf');
}

@font-face{
  font-family: "Raleway-f8";
  src: url('frames/Raleway-f8.ttf');
}

@font-face{
  font-family: "Raleway-f9";
  src: url('frames/Raleway-f9.ttf');
}

@font-face{
  font-family: "Raleway-f10";
  src: url('frames/Raleway-f10.ttf');
}

@font-face{
  font-family: "Raleway-f11";
  src: url('frames/Raleway-f11.ttf');
}

@font-face{
  font-family: "Raleway-f12";
  src: url('frames/Raleway-f12.ttf');
}

@font-face{
  font-family: "Raleway-f13";
  src: url('frames/Raleway-f13.ttf');
}

@font-face{
  font-family: "Raleway-f14";
  src: url('frames/Raleway-f14.ttf');
}

@font-face{
  font-family: "Raleway-f15";
  src: url('frames/Raleway-f15.ttf');
}

@font-face{
  font-family: "Raleway-f16";
  src: url('frames/Raleway-f16.ttf');
}

@font-face{
  font-family: "Raleway-f17";
  src: url('frames/Raleway-f17.ttf');
}

@font-face{
  font-family: "Raleway-f18";
  src: url('frames/Raleway-f18.ttf');
}

@font-face{
  font-family: "Raleway-f19";
  src: url('frames/Raleway-f19.ttf');
}

@font-face{
  font-family: "Raleway-f20";
  src: url('frames/Raleway-f20.ttf');
}

@font-face{
  font-family: "Raleway-f21";
  src: url('frames/Raleway-f21.ttf');
}

@font-face{
  font-family: "Raleway-f22";
  src: url('frames/Raleway-f22.ttf');
}

@font-face{
  font-family: "Raleway-f23";
  src: url('frames/Raleway-f23.ttf');
}

@font-face{
  font-family: "Raleway-f24";
  src: url('frames/Raleway-f24.ttf');
}