body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background: #C5C8C6;
}

header{
    margin: 0;
    text-align: center;
    background: #27292C;
    border-bottom: 5px solid #81a2be;
}

header h1{
    display: block;
    width: 555px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    font-size: 110px;
    font-weight: 100;
    color: #C5C8C6;
}

header p{
    display: block;
    width: 555px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #8abeb7;
    text-align: left;
    letter-spacing: 1px;
}

header p span{
    color: #b294bb;
}

#frames{
    display: block;
    width: 555px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: left;
    padding-top: 20px;
}

#frames span{
    display: block;
    margin-left: 10px;
    margin-top: -2px;
    font-size: 34px;
    line-height: 17px;
    color: #27292C;
}

.code{
    background: #27292C;
    color: #C5C8C6;
}

.code code{
    width: 555px;
    display: block;
    margin: 0 auto;
    font-family: Monaco, MonacoRegular, 'Courier New', monospace;
    font-size: 12px;
    font-smooth: never;
    font-weight: none;
    -webkit-font-smoothing: none;
    background-image: url("arrow.png") !important;
    background-repeat: no-repeat !important;
    background-position: bottom left 45px !important;
}

.code code .crayon-pre{
    margin-left: 10px;
}

.code a.run{
    margin-left: 10px;
    display: block;
    background: #C5C8C6;
    padding: 5px;
    border-radius: 7px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    border-bottom: 4px solid #828482;
    color: #27292C;
    text-decoration: none;
}

.code a.run:hover{
    border-bottom: 3px solid #828482;
    padding-top: 6px;
}

.code a.run:active{
    border-bottom: 1px solid #828482;
    padding-top: 8px;
}

.demo{
    width: 555px;
    margin: 0 auto;
    font-family: 'Raleway-f24';
    font-size: 110px;
    font-weight: 100;
    line-height: 250px;
    height: 200px;
    color: #27292C;
}

footer{
    background: #35383C;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #C5C8C6;
    border-top: 5px solid #b294bb;
}

footer span{
    color: #8abeb7;
}

footer p{
    width: 545px;
    margin: 0 auto;
    text-align: left;
}

footer a{
    color: #b294bb;
    text-decoration: none;
}