@font-face{
  font-family: "Raleway-f1";
  src: url('frames/Raleway-f1.ttf');
}

@font-face{
  font-family: "Raleway-f2";
  src: url('frames/Raleway-f2.ttf');
}

@font-face{
  font-family: "Raleway-f3";
  src: url('frames/Raleway-f3.ttf');
}

@font-face{
  font-family: "Raleway-f4";
  src: url('frames/Raleway-f4.ttf');
}

@font-face{
  font-family: "Raleway-f5";
  src: url('frames/Raleway-f5.ttf');
}

@font-face{
  font-family: "Raleway-f6";
  src: url('frames/Raleway-f6.ttf');
}

@font-face{
  font-family: "Raleway-f7";
  src: url('frames/Raleway-f7.ttf');
}

@font-face{
  font-family: "Raleway-f8";
  src: url('frames/Raleway-f8.ttf');
}

@font-face{
  font-family: "Raleway-f9";
  src: url('frames/Raleway-f9.ttf');
}

@font-face{
  font-family: "Raleway-f10";
  src: url('frames/Raleway-f10.ttf');
}

@font-face{
  font-family: "Raleway-f11";
  src: url('frames/Raleway-f11.ttf');
}

@font-face{
  font-family: "Raleway-f12";
  src: url('frames/Raleway-f12.ttf');
}